*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #222327;
}
.menu{
    position: relative;
    width: 300px;
    height: 300px;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    position: absolute;
    left: -20px;
    list-style: none;
    transform-origin: 170px;
    transform: rotate(calc(360deg / 4 * var(--i)));
    visibility: hidden;
}
.menu.active li{
    opacity: 1;
    visibility: visible;
}
.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    font-size: 1.75em;
    color: #222327;
    transform: rotate(calc(360deg / -4 * var(--i)));
    transition: background 1s;
}
.menu li a:hover{
    background: #29fd53;
    border: 2px solid #222327;
    transition: background 0s;
}
.toggle{
    position: absolute;
    width: 75px;
    height: 75px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    transition: 0.5s;
}
.toggle.active{
    transform: rotate(315deg);
    box-shadow: 0 0 0 45px #222327, 
    0 0 0 110px #fff;
}